  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Montserrat:wght@300;400;500&family=Ubuntu:ital,wght@0,400;1,400;1,500&display=swap');
:root {
    --primary-color :#0a1118;
    --primary-color-highlight:#233d54;
    --bs-body-bg:#fbf9f6;
    --bs-body-font-family:'Ubuntu'
}

/* header styling */
.header-section{
    z-index:2;
    background-color: hsl(0, 0%, 0%);
}
/* video-section */
.video{
  position: relative;
  height: 130vh;
  overflow: hidden;
  background-color: #000000;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.video-section{
  position: absolute;
  top:100%;
  left:50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);

}
.video-text {
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  width: 25%;
  font-family: 'Ubuntu';
  line-height: 40px;
}
.video-h1{
  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 35%;
  font-family: 'Ubuntu';
}
.video h1 ,h1{
font-weight: 900;
font-size: 40px;
line-height: 50px;
}
/* about section styling  */
.about-section{
  height:80vh
}
.about-section h1{
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  width: 40%;
}
.about-section p{
  width: 35%;
  font-weight: bold;
  line-height: 30px;
  font-size: 19px;
}
/* team image styling */
.team {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}





